---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - issuers
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates/status
  - issuers/status
  verbs:
  - get
- apiGroups:
  - db.microsoft.com
  resources:
  - documentdbs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - db.microsoft.com
  resources:
  - documentdbs/status
  verbs:
  - get
  - patch
  - update
