site_name: DocumentDB-Kubernetes-Operator
repo_url: https://github.com/microsoft/documentdb-kubernetes-operator
theme:
  name: readthedocs

nav:
  - Preview:
      - Get Started: operator-public-documentation/preview/index.md
  - Tools:
      - Kubectl Plugin: ../documentdb-kubectl-plugin/kubectl-plugin.md

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true