site_name: DocumentDB-Kubernetes-Operator
repo_url: https://github.com/documentdb/documentdb-kubernetes-operator
docs_dir: docs/operator-public-documentation
theme:
  name: readthedocs

nav:
  - Preview:
      - Get Started: preview/index.md
      - Advanced Configuration: preview/advanced-configuration/README.md
      - Backup and Restore: preview/backup-and-restore.md
      - FAQ: preview/faq.md
  - Tools:
      - Kubectl Plugin: preview/kubectl-plugin.md

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true