namespace: documentdb-operator
replicaCount: 1

# DocumentDB version - when set, overrides individual component versions  
documentDbVersion: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: "documentdb-operator"
  
image:
  documentdbk8soperator:
    repository: ghcr.io/microsoft/documentdb-kubernetes-operator/operator
    pullPolicy: Always
    tag: preview
  sidecarinjector:
    repository: ghcr.io/microsoft/documentdb-kubernetes-operator/sidecar
    pullPolicy: Always
    tag: preview
    
cloudnative-pg:
  namespaceOverride: cnpg-system
